section
{
    height: 2em;
}

body
{
    background-color: aliceblue;
}

#home
{
    background-color: #509FFF;
    border: 5px solid #000;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.5em;
}

#resources
{
    background-color: #509FFF;
    border: 5px solid #000;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.5em;
}

#articles
{
    background-color: #509FFF;
    border: 5px solid #000;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.5em;
}

#forums
{
    background-color: #509FFF;
    border: 5px solid #000;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.5em;
}

#description
{
    background-color: #509FFF;
    border: 5px solid #000;
    border-radius: 50px;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
    
}

.carousel-inner > .item > img
{
    margin: 0 auto;
}


#carousel-example-generic
{
    border: 5px solid #000;
}

.divider
{
    background-color: #509FFF;
    border: 5px solid #000;
    border-radius: 50px;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

/* unvisited link */
a:link {
    color: #000;
}

/* visited link */
a:visited {
    color: #000;
}

/* mouse over link */
a:hover {
    color: #000;
}

/* selected link */
a:active {
    color: #000;
}