body {
    background-color: #FFF0D5 !important;
    padding: 40px;
    overflow-x: hidden; /* For Opera */
    -webkit-box-shadow:
	inset #FF83D5 0 0 0 5px,
	inset #FF96D5 0 0 0 1px,
	inset #FF96D5 0 0 0 10px,
	inset #FFBBD5 0 0 0 11px,
	inset #FFCDD5 0 0 0 16px,
	inset #FFE1D5 0 0 0 17px,
	inset #FFEED5 0 0 0 22px,
	inset #FFEAD5 0 0 0 23px;
    -moz-box-shadow:
	inset #FF83D5 0 0 0 5px,
	inset #FF96D5 0 0 0 1px,
	inset #FF96D5 0 0 0 10px,
	inset #FFBBD5 0 0 0 11px,
	inset #FFCDD5 0 0 0 16px,
	inset #FFE1D5 0 0 0 17px,
	inset #FFEED5 0 0 0 22px,
	inset #FFEAD5 0 0 0 23px;
    box-shadow:
	inset #FF83D5 0 0 0 5px,
	inset #FF96D5 0 0 0 1px,
	inset #FF96D5 0 0 0 10px,
	inset #FFBBD5 0 0 0 11px,
	inset #FFCDD5 0 0 0 16px,
	inset #FFE1D5 0 0 0 17px,
	inset #FFEED5 0 0 0 22px,
	inset #FFEAD5 0 0 0 23px;
}

.container {
    background-color: #FFF0D5;
}

#linksHeader {
    text-align: center;
}

#links-ul {
    text-align:  left;
}

#logo {
    background-color: #FFF0D5;
}

#home {
    background-color: #59C78A;
    border: 5px solid #FFF0D5;
    text-decoration: none;
    font-size: 1.5em;
}

#resources {
    background-color: #59C78A;
    border: 5px solid #FFF0D5;
    text-decoration: none;
    font-size: 1.5em;
}

#articles {
    background-color: #59C78A;
    border: 5px solid #FFF0D5;
    text-decoration: none;
    font-size: 1.5em;
}

#forums {
    background-color: #59C78A;
    border: 5px solid #FFF0D5;
    text-decoration: none;
    font-size: 1.5em;
}

#search {
    background-color: #2B7A4E;
    border: 5px solid #FFF0D5;
    text-decoration: none;
    font-size: 1.5em;
}

#login {
    background-color: #2B7A4E;
    border: 5px solid #FFF0D5;
    text-decoration: none;
    font-size: 1.5em;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    background-color: #FFF0D5;
}

#carousel-example-generic {
    background-color: #FFF0D5;
}

p {
    text-align: center;
}

#news {
    background-color: #59C78A;
    border: 5px solid #FFF0D5;
    text-decoration: none;
    font-size: 1.5em;
}

#video {
    background-color: #59C78A;
    border: 5px solid #FFF0D5;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

#footer {
    background-color: #2B7A4E;
    border: 5px solid #FFF0D5;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

/* unvisited link */
a:link {
    color: #1c1c1c;
}

/* visited link */
a:visited {
    color: #1c1c1c;
}

/* mouse over link */
a:hover {
    color: #1c1c1c;
}

/* selected link */
a:active {
    color: #1c1c1c;
}