body {
    background-color: #1c1c1c !important;
	padding: 40px;
	overflow-x: hidden; /* For Opera */
	-webkit-box-shadow:
		inset #080808 0 0 0 5px,
		inset #0A0A0A 0 0 0 1px,
		inset #0D0D0D 0 0 0 10px,
		inset #0F0F0F 0 0 0 11px,
		inset #121212 0 0 0 16px,
		inset #141414 0 0 0 17px,
		inset #171717 0 0 0 22px,
		inset #191919 0 0 0 23px;
	-moz-box-shadow:
		inset #080808 0 0 0 5px,
		inset #0A0A0A 0 0 0 1px,
		inset #0D0D0D 0 0 0 10px,
		inset #0F0F0F 0 0 0 11px,
		inset #121212 0 0 0 16px,
		inset #141414 0 0 0 17px,
		inset #171717 0 0 0 22px,
		inset #191919 0 0 0 23px;
	box-shadow:
		inset #080808 0 0 0 5px,
		inset #0A0A0A 0 0 0 1px,
		inset #0D0D0D 0 0 0 10px,
		inset #0F0F0F 0 0 0 11px,
		inset #121212 0 0 0 16px,
		inset #141414 0 0 0 17px,
		inset #171717 0 0 0 22px,
		inset #191919 0 0 0 23px;
}

.container {
    background-color: #1c1c1c;
}

p {
    text-align: center;
}

#linksHeader {
    text-align: center;
}

#links-ul {
    text-align:  left;
}

#logo {
    background-color: #1c1c1c;
}

#home {
    background-color: #86C75A;
    border: 5px solid #1c1c1c;
    text-decoration: none;
    font-size: 1.5em;
}

#resources {
    background-color: #86C75A;
    border: 5px solid #1c1c1c;
    text-decoration: none;
    font-size: 1.5em;
}

#articles {
    background-color: #86C75A;
    border: 5px solid #1c1c1c;
    text-decoration: none;
    font-size: 1.5em;
}

#forums {
    background-color: #86C75A;
    border: 5px solid #1c1c1c;
    text-decoration: none;
    font-size: 1.5em;
}

#search {
    background-color: #86C75A;
    border: 5px solid #1c1c1c;
    text-decoration: none;
    font-size: 1.5em;
}

#login {
    background-color: #86C75A;
    border: 5px solid #1c1c1c;
    text-decoration: none;
    font-size: 1.5em;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    background-color: #1c1c1c;
}

#carousel-example-generic {
    background-color: #1c1c1c;
}

#news {
    background-color: #86C75A;
    border: 5px solid #1c1c1c;
    text-decoration: none;
    font-size: 1.5em;
}

#video {
    background-color: #86C75A;
    border: 5px solid #1c1c1c;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

#footer {
    background-color: #86C75A;
    border: 5px solid #1c1c1c;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

/* unvisited link */
a:link {
    color: #1c1c1c;
}

/* visited link */
a:visited {
    color: #1c1c1c;
}

/* mouse over link */
a:hover {
    color: #1c1c1c;
}

/* selected link */
a:active {
    color: #1c1c1c;
}