body { 
  background-image: url('../images/circuits2.png'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#linksHeader {
    text-align: center;
}

#links-ul {
    text-align:  left;
}

#logo .resize {
}

/*nav*/
.myMenu li {
	list-style:none;
	font:1em Helvetica;
        margin: 0;
        padding: 0;
}

.myMenu li a:link, .myMenu li a:visited {
    margin: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #0C56E8;
    display: block;
    text-decoration:none;
    color: white;
    z-index:1;
    font-size: 1.5em;
}

.myMenu li a:hover {
	background-color: #0D9EFF;	
}

/*dropdown menus*/
.myMenu li ul {
	position:absolute;
	visibility:hidden;
	margin:0;
	padding:0;
	z-index:1;
}

.myMenu li ul li {
	display:inline;
	float:none;
	z-index:1;
}

.myMenu li ul li a:link, .myMenu li ul li a:visited {
	background-color:#0D9EFF;
	width:auto;
	z-index: 1;
}

.myMenu li ul li a:hover {
	background-color:#0C56E8;	
}

/*carousel*/
.carousel-inner > .item > img {
    margin: 0 auto;
    background-color: #0D9EFF;
}

.carousel img {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

#carousel-example-generic {
    background-color: #0D9EFF;
}

p {
    text-align: center;
}

#title {
    background-color: #0D9EFF;
    color: white;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

#date {
    background-color: #0D9EFF;
    color: white;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

#links {
    background-color: #0C56E8;
    color: white;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

#author {
    background-color: #0D9EFF;
    color: white;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

#content {
    background-color: #0C56E8;
    border: 5px;
    color: white;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

#publisher {
    background-color: #0D9EFF;
    color: white;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

img.resize{
    width:540px;
    height: auto;
}

#news {
    background-color: #0D9EFF;
    color: white;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

#video {
    background-color: #0D9EFF;
    color: white;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

#footer {
    background-color: #0C56E8;
    color: white;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

#signUpForm {
    color: black;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;  
}
/* pic for youtube vid in carousel*/
.videoWrapper {
position: relative;
padding-bottom: 56.25%;
height: 0;
}

.videoWrapper iframe,
.videoWrapper embed,
.videoWrapper object
{
position: absolute;
width: 85%;
height: 80%;
left: 0;
top: 0;
}

