body { 
  background-image: url('../images/circuits2.png'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#linksHeader {
    text-align: center;
}

#links-ul {
    text-align:  left;
}

#logo .resize {
}

/*nav*/
.myMenu li {
    list-style:none;
    font:1em Helvetica;
    margin: 0;
    padding: 0;
}

.myMenu li a:link, .myMenu li a:visited {
    margin: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #0C56E8;
    display: block;
    text-decoration:none;
    color: white;
    z-index:1;
    font-size: 1.5em;
}

.myMenu li a:hover {
    background-color: #0D9EFF;	
}

/*dropdown menus*/
.myMenu li ul {
    position:absolute;
    visibility:hidden;
    margin:0;
    padding:0;
    z-index:1;
}

.myMenu li ul li {
    display:inline;
    float:none;
    z-index:1;
}

.myMenu li ul li a:link, .myMenu li ul li a:visited {
    background-color:#0D9EFF;
    width:auto;
    z-index: 1;
    font-size: 1.5em;
}

.myMenu li ul li a:hover {
    background-color:#0C56E8;	
}

/*carousel*/
.carousel-inner > .item > img {
    margin: 0 auto;
    background-color: #0D9EFF;
}

.carousel img {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

#carousel-example-generic {
    background-color: #0D9EFF;
}

p {
    text-align: center;
}

#title {
    background-color: #0D9EFF;
    color: white;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

#date {
    background-color: #0D9EFF;
    color: white;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

#links {
    background-color: #0C56E8;
    color: white;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

#author {
    background-color: #0D9EFF;
    color: white;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

#content {
    background-color: #0C56E8;
    border: 5px;
    color: white;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

#publisher {
    background-color: #0D9EFF;
    color: white;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

img.resize{
    width:540px;
    height: auto;
}

#news {
    background-color: #0D9EFF;
    color: white;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

#video {
    background-color: #0D9EFF;
    color: white;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

#footer {
    background-color: #0C56E8;
    color: white;
    height: 100%;
    text-decoration: none;
    font-size: 1.5em;
}

#signUpForm {
    color: black;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;  
}
/* pic for youtube vid in carousel*/
.videoWrapper {
position: relative;
padding-bottom: 56.25%;
height: 0;
}

.videoWrapper iframe, .videoWrapper embed, .videoWrapper object {
position: absolute;
width: 85%;
height: 80%;
left: 0;
top: 0;
}

/* beginning of tabs*/

#wrapper{
	width:720px;
	margin:40px auto 0;
}

#wrapper h1{
	color:#FFF;
	text-align:center;
	margin-bottom:20px;
}

#wrapper a{
	display:block;
	font-size:1.2em;
	padding-top:20px;
	color:#FFF;
	text-decoration:none;
	text-align:center;
}

#tabContainer {
	width:700px;
	padding:15px;
	background-color:#2e2e2e;
	-moz-border-radius: 4px;
	border-radius: 4px; 
}

.tabs{
	height:30px;
}

.tabs > ul{
	font-size: 1em;
	list-style:none;
}

.tabs > ul > li{
	margin:0 2px 0 0;
	padding:7px 10px;
	display:block;
	float:left;
	color:#FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	background: #C9C9C9; /* old browsers */
	background: -moz-linear-gradient(top, #0C91EC 0%, #257AB6 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0C91EC), color-stop(100%,#257AB6)); /* webkit */
}

.tabs > ul > li:hover{
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
	cursor:pointer;
	color: #333;
}

.tabs > ul > li.tabActiveHeader{
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
	cursor:pointer;
	color: #333;
}

.tabscontent {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px; 
	padding:10px 10px 25px;
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #FFFFFF 90%, #e4e9ed 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(90%,#FFFFFF), color-stop(100%,#e4e9ed)); /* webkit */
	margin:0;
	color:#333;
}
 ---------- LOGIN ---------- */
#login {
margin: 50px auto;
width: 300px;
border-style: solid;
}
form fieldset input[type="text"], input[type="password"] {
background-color: #e5e5e5;
border: none;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
color: #5a5656;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
font-size: 14px;
height: 50px;
outline: none;
padding: 0px 10px;
width: 280px;
-webkit-appearance:none;
}
form fieldset input[type="submit"] {
background-color: #008dde;
border: none;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
color: #f4f4f4;
cursor: pointer;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;
height: 50px;
text-transform: uppercase;
width: 300px;
-webkit-appearance:none;
}
form fieldset a {
color: #5a5656;
font-size: 10px;
}
form fieldset a:hover { text-decoration: underline; }
.btn-round {
background-color: #5a5656;
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
color: #f4f4f4;
display: block;
font-size: 12px;
height: 50px;
line-height: 50px;
margin: 30px 125px;
text-align: center;
text-transform: uppercase;
width: 50px;
}
.facebook-before {
background-color: #0064ab;
border-radius: 3px 0px 0px 3px;
-moz-border-radius: 3px 0px 0px 3px;
-webkit-border-radius: 3px 0px 0px 3px;
color: #f4f4f4;
display: block;
float: left;
height: 50px;
line-height: 50px;
text-align: center;
width: 50px;
}
.facebook {
background-color: #0079ce;
border: none;
border-radius: 0px 3px 3px 0px;
-moz-border-radius: 0px 3px 3px 0px;
-webkit-border-radius: 0px 3px 3px 0px;
color: #f4f4f4;
cursor: pointer;
height: 50px;
text-transform: uppercase;
width: 250px;
}
.twitter-before {
background-color: #189bcb;
border-radius: 3px 0px 0px 3px;
-moz-border-radius: 3px 0px 0px 3px;
-webkit-border-radius: 3px 0px 0px 3px;
color: #f4f4f4;
display: block;
float: left;
height: 50px;
line-height: 50px;
text-align: center;
width: 50px;
}
.twitter {
background-color: #1bb2e9;
border: none;
border-radius: 0px 3px 3px 0px;
-moz-border-radius: 0px 3px 3px 0px;
-webkit-border-radius: 0px 3px 3px 0px;
color: #f4f4f4;
cursor: pointer;
height: 50px;
text-transform: uppercase;
width: 250px;
}